<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable component scanning for autowiring -->
    <context:component-scan base-package="com.cognizant.springlearn" />
    
    <!-- Bean definitions for Country Service -->
    <bean id="countryService" class="com.cognizant.springlearn.service.CountryService" />
    
    <!-- Bean definition for Country Controller -->
    <bean id="countryController" class="com.cognizant.springlearn.controller.CountryController">
        <property name="countryService" ref="countryService" />
    </bean>
    
</beans>
